@import "config.scss";
//header nav
header {
  height: 25px;
}
.navbar {
  width: 100%;
}

.navbar .container-fluid {
  width: 100%;

  .collapse {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
.navbar-nav {
  position: relative;
  right: 5%;
  .active {
    color: color(verde-claro) !important;
  }
  a {
    font-size: 16px;
    font-weight: bold;
    padding: 2px 2px;
    color: color(titulos-verde);
  }
  a:hover {
    color: color(verde-claro);
    border-bottom: 5px dotted color(verde-claro);
  }
  a i {
    font-size: 20px;
    border: 1px solid color(verde-oscuro);
    border-radius: 75%;
    padding: 0px 3px;
  }
  .caja-icono-nav {
    position: relative;
    left: 7%;
  }
}

.navbar-brand img {
  height: 39px;
  width: 172px;
  position: relative;
  right: -10%;
}
//seccion encabezado
//cajones padres
.encabezado-pt1 {
  padding-bottom: 10px;
  height: 670px !important;
  width: 100%;
  .container-fluid {
    height: max-content;
  }
}
//cols
.row .cajon-encabezado,
.row .cajon-encabezado2 {
  height: 670px;
  box-sizing: border-box;
}
.head-left {
  max-height: 670px !important;
}
.img-suramerica {
  object-fit: cover;
}
.cajon-encabezado {
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .parrafo-head-left {
    color: #fff;
    font-size: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(
      -50%,
      -50%
    ); /* para centrar vertical y horizontalmente */
    z-index: 1; /* para que quede sobre la imagen */
    h1 {
      color: #fff;
      font-size: 97px;
      font-weight: 500;
      line-height: 0.9;
      font-stretch: condensed;
    }
    h6 {
      font-size: 21px;
      letter-spacing: 1px;
      position: relative;
      left: 9%;
    }
  }
  .btn {
    position: absolute;
    color: color(letra-botones);
    width: 59%;
    top: 70%;
    left: 22%;
    z-index: 1; /* para que quede sobre la imagen */
    padding: 7px 12px;
    background-color: #fff;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .btn a {
    color: color(letra-botones) !important;
    text-decoration: none;
    font-size: 21px;
  }
}

//seccion media
.servicios-integrales {
  height: max-content;
  .container-fluid {
    max-width: 1100px;
    min-height: 245px;
    padding: 20px;
    position: relative;
  }
  .container-integral {
    display: flex;
    justify-content: space-evenly;
  }
  .rectangulo {
    max-width: 1100px;
    width: 950px;
    height: 155px;
    padding: 22px 85px;
    position: absolute;
    margin-top: -4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px 6px 0px -2.7px rgba(0, 0, 0, 0.3);

    .vineta-left1 {
      padding-right: 20px;
    }
    .vineta-left2 {
      padding-left: 20px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      letter-spacing: 2.5px;
      font-size: 35px;
      font-weight: 100;
    }
  }
}

//servicios residenciales
.servicios-residenciales {
  position: relative;
  .row {
    height: 800px;
  }
  .residenciales-pt1 {
    display: flex;
    justify-content: end;
    align-items: start;
    position: relative;
    .hoja-left {
      width: 224px;
      height: 169px;
      position: relative;
      left: -8%;
    }
  }
  .residenciales-pt2 {
    position: relative;
    left: -1.5%;

    .residenciales-pt2__1 {
      height: 110px;
      position: relative;
      h3 {
        font-size: 32px;
        color: color(letras-grises);
        line-height: 0.8;
        padding: 5px;
        font-weight: 700;
        padding-bottom: 1px;
      }
      p {
        font-size: 24px;
        padding: 2px 4px;
        letter-spacing: 6.2px;
        font-weight: 400;
        line-height: 1;
      }

      hr {
        border: 1px solid color(verde-oscuro);
        margin-left: 16px;
      }
    }
    .residenciales-pt2__2 {
      width: 100%;
      display: flex;
      position: relative;
      height: 65%;
      padding-left: 0;
      .caja-verde-claro {
        width: 55%;
        display: block;
        height: 100%;
        position: relative;
        right: 1%;
      }
      .servicios-residencia {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        padding-left: 5%;
        height: 22%;
        padding-top: 1%;
        img {
          padding: 0px 10px 0px 0px;
        }
        p {
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    .residenciales-pt2__3 {
      position: relative;
      bottom: 52%;
      left: 16%;
      width: 65%;
      .servicio-img-3 {
        position: relative;
        right: 12%;
      }
      .conocer-mas {
        height: 60px;
        width: 120%;

        border-bottom: 3px solid color(letra-botones);
        border-left: 3px solid color(letra-botones);
        border-right: 3px solid color(letra-botones);
      }
      .btn-residencial {
        position: relative;
        border-radius: 50px;
        background-color: color(letra-botones);
        top: 60%;
        width: 27%;
        &:hover {
          background-color: rgba(#19766c, 1);
        }
        a {
          text-decoration: none;
          font-size: 23px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.seccion-blanca {
  height: 145px;
}
//servicios adicionales
.servicios-adicionales {
  padding-right: 0px;
  .adicionales-pt2 {
    display: flex;
    justify-content: end;
    align-items: start;
    overflow: hidden;
    .hoja-right {
      height: 198px;
      position: relative;
      left: 21%;
    }
  }
}
.servicios-adicionales {
  .row {
    height: 800px;
  }
  .adicionales-pt1 {
    position: relative;
    left: 1%;
    .adicionales-pt1__1 {
      height: 110px;
      position: relative;
      right: 5%;
      top: 0%;

      h3 {
        font-size: 32px;
        color: color(letras-grises);
        line-height: 0.8;
        padding: 5px;
        font-weight: 700;
        padding-bottom: 1px;
      }
      p {
        font-size: 24px;
        padding: 2px 4px;
        letter-spacing: 6.2px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        right: 4%;
      }

      hr {
        border: 1px solid color(verde-oscuro);
        margin-left: 16px;
        position: relative;
        right: 4%;
      }
    }
  }
  .adicionales-pt1 {
    .adicionales-pt1__2 {
      width: 100%;
      display: flex;
      position: relative;
      height: 65%;
      top: 3.5%;
      left: 0%;
      padding-left: 0;
      .caja-verde-claro {
        width: 60%;
        display: block;
        height: 115%;
        position: relative;
        right: 3.5%;
        margin-top: 1%;
      }
      .servicios-residencia {
        width: 46%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        background-color: 8f8fab;
        padding-left: 1%;
        height: 22%;
        padding-top: 0%;
        letter-spacing: 1.5px;
        img {
          padding: 0px 10px 0px 15px;
        }
        p {
          font-size: 16px;
          color: rgba(#5d5d5d, 0.8);
          font-weight: 700;
          text-align: end;
          margin-bottom: 8px;
          position: relative;
          right: 15%;
        }
        .caja-centro {
          position: absolute;
          right: 63%;
          top: 9%;
          line-height: 1.3;
          .p-centro {
            position: relative;
            left: 1%;
          }
          img {
            width: 47px;
            height: 20px;
          }
        }
      }
    }
  }

  .adicionales-pt1 {
    .adicionales-pt1__3 {
      position: relative;
      bottom: 45%;
      right: 8.2%;
      width: 88%;
      .servicio-img-3 {
        position: relative;
        right: 9%;
      }
      .conocer-mas-2 {
        height: 60px;
        width: 92%;
        position: relative;
        left: 8%;
        border-bottom: 3px solid color(letra-botones);
        border-left: 3px solid color(letra-botones);
        border-right: 3px solid color(letra-botones);
      }
      .btn-adicionales {
        position: relative;
        top: 60%;
        border-radius: 50px;
        background-color: color(letra-botones);
        width: 27%;
        &:hover {
          background-color: rgba(#19766c, 1);
        }
        a {
          text-decoration: none;
          font-size: 23px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
.seccion-blanca-2 {
  height: 145px;
}
//seccion 10años
.seccion-diezaños {
  .diezañospt1 {
    padding-top: 62px;
    position: relative;
    right: 1%;
    .diezaños-img {
      width: 280px;
      height: 380px;
    }
  }
}
.seccion-diezaños {
  height: 440px;
  .diezañospt2 {
    height: 440px;
    .caja-diezaños {
      padding-top: 10px;
      position: relative;
      top: 22%;
      left: 2%;
      color: rgba(#787878, 0.8);
    }
    .vermas-diezaños {
      color: color(verde-oscuro);
      text-decoration: none;
      position: relative;
      bottom: 21%;
      &:hover {
        color: color(verde-claro);
        font-size: 18px;
      }
      .span-diezaños {
        font-size: 60px;
        position: relative;
        top: 0%;
        &:hover {
          color: color(verde-claro);
          font-size: 66px;
        }
      }
    }
    .btn-diezaños {
      position: relative;
      top: 16%;
      left: 2%;
      border-radius: 50px;
      background-color: color(letra-botones);
      width: 38%;
      padding: 6px;
      &:hover {
        background-color: rgba(#19766c, 1);
      }
      a {
        text-decoration: none;
        font-size: 22px;
      }
    }
  }
}
//seccion contenedor-hoja-futuro
.contenedor-sqn-info {
  height: 120px;
  .caja-sqn-info {
    height: 130px;
    overflow: hidden;
    .sqn-info {
      position: relative;
      right: 2%;
    }
  }
}

//seccion galeria fotos
.galeria-fotos {
  height: 480px;
  .galeria-1 {
    position: relative;
    width: 41.66666667%;
    right: 0;
    padding: 0px 0px;

    .galeria-1__1,
    .galeria-1__2,
    .galeria-1__3,
    .galeria-1__4 {
      width: 50%;
    }
    .galeria-1__ajuste1,
    .galeria-1__ajuste2 {
      padding: 0px 0px;
      width: 260px;
    }
    .gall-1,
    .gall-2 {
      width: 100%;
    }
    .gall-3,
    .gall-4 {
      max-width: 100%;
      height: auto;
    }

    .galeria-1__ajuste2 img {
      height: 204px;
    }
    .galeria-1__ajuste1 img {
      height: 204px;
    }
  }
  .galeria-2 {
    position: relative;
    right: 1.5%;
    width: auto;
    padding: 0.25rem;
  }
  .galeria-3 {
    position: relative;
    right: 1.5%;
    width: 16.66667%;
  }
}
//seccion Titulo noticias
.seccion-noticias {
  height: 200px;
  .titulo-noticias {
    color: color(verde-oscuro);
  }
  .img-titulo-noticias {
    width: 165px;
  }
}
//Seccion Noticias
.contenedor-noticias {
  .caja-2min {
    height: 330px;
    padding: 0px;
    .card-caja-1 {
      height: 330px;
      overflow: hidden;
      border-radius: 0px;
    }
  }
}
.caja-2min {
  img {
    opacity: 0.8;
  }
  .card-img-overlay {
    position: absolute;
    top: 34%;
    left: 5%;
    display: inline-block;
  }
  h5 {
    border: 1px solid color(verde-oscuro);
    background-color: color(letra-botones);
    padding: 2px;
    color: #fff;
    display: inline-block;
  }
  small {
    font-size: 16px;
  }
}
.caja-card-noticias {
  .card {
    border-radius: 0px;
    border: none;
    &:first-child {
      padding-left: 0px;
    }
    &:last-child {
      padding-right: 0px;
    }
    .card-body {
      padding-bottom: 0px;
      padding-left: 2px;
    }
  }
  h5 {
    border: 1px solid color(verde-oscuro);
    background-color: color(letra-botones);
    padding: 2px;
    color: #fff;
    display: inline-block;
  }
  small {
    font-size: 16px;
  }
  p {
    font-size: 18px;
    font-weight: 700;
  }
}

//Seccion Boton Ver Todos
.contenedor-ver-todos {
  height: 150px;
}
.btn-ver-todos {
  position: relative;
  top: 16%;
  left: 2%;
  border-radius: 50px;
  background-color: color(letra-botones);
  width: 14%;
  padding: 6px;
  &:hover {
    background-color: rgba(#19766c, 1);
  }
  a {
    text-decoration: none;
    font-size: 22px;
  }
}

//Seccion Aliados y Logos
.aliados-logos {
  height: 250px;

  .contenedor-logos {
    width: 90%;
  }
  .logos-pt1 {
    .cajon-aliados {
      position: relative;
      width: 100%;
      height: 100%;
      .p-aliados {
        position: relative;
        left: 8%;
        font-weight: 700;
        line-height: 0;
        font-size: 100px;
        opacity: 0.2;
        color: color(verde-claro);
      }
      .h5-aliados {
        position: absolute;
        color: color(verde-oscuro);
        font-size: 30px;
        left: 9%;
        top: 1%;
      }
    }
  }
  .logos-pt2 {
    position: relative;

    .linea-vertical {
      border-right: 1px solid #d3d3d3;
      height: 80px;
      width: 1px;
      display: inherit !important;
      position: absolute;
      right: 100%;
    }
    .imagenes-aliados {
      width: 100%;
      .img-logo-univ {
        position: relative;
        left: 20%;
      }
      .img-tena {
        position: relative;
        left: 10%;
      }
    }
  }
}
//grupo-sura
.cajon-grupo-sura {
  height: 130px;

  .columna-grupo-sura {
    width: 100%;
    .cajon-filial {
      display:flex;
      justify-content:end;
    }
  }
}

//seccion contactanos 
.contactanos {
  
  background-image: url(../img/contacto.jpg);
  background-size: 100% 100%;
  position: relative;
  height: 667px;
  background-repeat: no-repeat;
  
}




@media only screen and (max-width: 1320px) {
  .servicios-residenciales {
    .residenciales-pt2 {
      .residenciales-pt2__3 {
        left: 0%;
        width: 102%;

        .servicio-img-3 {
          width: 95%;
          left: 2%;
        }
        .conocer-mas {
          position: relative;
          right: -10%;
          width: 77%;
          .btn-residencial {
            width: 40%;
          }
        }
      }
    }
  }
  .servicios-adicionales {
    .adicionales-pt2 {
      overflow: visible;
      .hoja-right {
        left: 5%;
      }
    }
  }
  .galeria-fotos {
    width: 100%;
    height: max-content;
    .columna-galeria {
      width: 100%;
    }
    .galeria-1 {
      width: 41.66667%;
      height: max-content;
      position: relative;
      padding: 9px;
      .gall-1,
      .gall-2 {
        width: 100%;
      }
      .gall-3,
      .gall-4 {
        max-width: 100%;
        height: auto;
      }
      .galeria-1__1,
      .galeria-1__2,
      .galeria-1__3,
      .galeria-1__4 {
        width: 50%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .galeria-2 {
      width: 41.66667%;
      height: max-content;
      display: flex;
      right: 0%;
      .gall-5 {
        max-width: 100%;
        height: auto;
        padding: 16px;
        position: relative;
        right: 3%;
      }
    }
    .galeria-3 {
      width: 16.66667%;
      position: relative;
      right: 2%;
      .columna-galeria-3 {
        height: 90%;
        width: 144%;
        margin-top: 20px;
      }
      .gall-6,
      .gall-7 {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .aliados-logos {
    .contenedor-logos {
      width: 100%;
      .logos-pt1 {
        .cajon-aliados {
          right: 7%;
          .h5-aliados {
            left: 6%;
          }
          .p-aliados {
            left: 5%;
            font-size: 80px;
          }
        }
      }
      .logos-pt2 {
        .linea-vertical {
          right: 115%;
        }
        .imagenes-aliados {
          .img-tena {
            left: -11%;
          }
          .img-logo-univ {
            left: 0%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    .navbar-nav {
      .caja-icono-nav {
        left: 0%;
      }
    }
  }
  .encabezado-pt1 {
    height: 450px !important;
    .cajon-encabezado,
    .cajon-encabezado2 {
      height: 450px;
    }
    .cajon-encabezado {
      .btn {
        width: 78%;
        top: 74%;
        left: 11%;
      }
    }
  }
  .servicios-integrales {
    height: 200px;
    .container-integral {
      height: 200px;
    }
    .rectangulo {
      height: 160px;
      width: 700px;
      display: flex;
      justify-content: space-between;
      padding: 22px 20px;
      box-shadow: 7px 6px 8px 0.3px rgba(0, 0, 0, 0.3);
      .col-md-6 {
        width: 80%;
      }
    }
  }
  .servicios-residenciales {
    .row {
      height: 600px;
    }
    .residenciales-pt1 {
      justify-content: center;
      .hoja-left {
        left: 6%;
      }
    }
    .residenciales-pt2 {
      .residenciales-pt2__1 {
        justify-content: center;
        width: 65%;
      }
      .residenciales-pt2__2 {
        .servicios-residencia {
          width: 45%;
        }
      }
      .residenciales-pt2__3 {
        left: 0%;
        width: 107%;

        .servicio-img-3 {
          width: 95%;
          left: 2%;
        }
        .conocer-mas {
          width: 76%;
          position: relative;
          left: 12%;
          .btn-residencial {
            width: 43%;
          }
        }
      }
    }
  }
  .servicios-adicionales {
    .adicionales-pt1 {
      left: 4%;
      .adicionales-pt1__1 {
        width: 65%;
        position: relative;
        left: 23%;
      }
      .adicionales-pt1__2 {
        top: 5.5%;
        left: 13%;
        .servicios-residencia {
          .caja-centro {
            top: 7%;
            width: 54%;
          }
        }
      }
      .adicionales-pt1__3 {
        .conocer-mas-2 {
          width: 82%;
          .btn-adicionales {
            width: 60%;
          }
        }
        .img-adicionales {
          width: 100%;
        }
      }
    }
    .adicionales-pt2 {
      overflow: visible;
      .hoja-right {
        left: 14%;
      }
    }
  }
  .seccion-blanca-2 {
    display: none;
  }
  .seccion-diezaños {
    width: 100%;
    .diezañospt2 {
      .caja-diezaños {
        padding-top: 0px;
        top: 7%;
      }
      .vermas-diezaños {
        bottom: 12%;
      }
      .btn-diezaños {
        width: 54%;
        position: relative;
        left: -1%;
      }
    }
    .diezañospt1 {
      right: 8%;
      padding-top: 0px;
      padding-top: 25px;
      .diezaños-img {
        width: 100%;
        height: auto;
      }
    }
  }
  .galeria-fotos {
    width: 100%;
    height: max-content;
    .columna-galeria {
      width: 100%;
    }
    .galeria-1 {
      width: 41.66667%;
      height: max-content;
      position: relative;
      padding: 9px;
      .gall-1,
      .gall-2 {
        width: 100%;
      }
      .gall-3,
      .gall-4 {
        max-width: 100%;
        height: auto;
      }
      .galeria-1__1,
      .galeria-1__2,
      .galeria-1__3,
      .galeria-1__4 {
        width: 50%;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
    .galeria-2 {
      width: 41.66667%;
      height: max-content;
      display: flex;
      right: 0%;
      .gall-5 {
        max-width: 100%;
        height: auto;
        padding: 16px;
        position: relative;
        right: 3%;
      }
    }
    .galeria-3 {
      width: 16.66667%;
      position: relative;
      right: 2%;
      .columna-galeria-3 {
        height: 90%;
        width: 144%;
        .galeria-3__1,
        .galeria-3__2 {
          width: 100%;
        }
      }
      .gall-6,
      .gall-7 {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .contenedor-ver-todos {
    .btn-ver-todos {
      width: 19%;
    }
  }
  .aliados-logos {
    .contenedor-logos {
      .logos-pt1 {
        .cajon-aliados {
          .h5-aliados {
          }
          .p-aliados {
            font-size: 60px;
          }
        }
      }
      .logos-pt2 {
      }
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
  .servicios-residenciales {
    .residenciales-pt2 {
      .residenciales-pt2__3 {
        left: 0%;
        width: 102% !important;

        .servicio-img-3 {
          width: 95%;
          left: 2%;
        }
        .conocer-mas {
          width: 76%;
          position: relative;
          left: 12%;
          .btn-residencial {
            width: 43%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 959px) {
  .aliados-logos {
    .contenedor-logos {
      height: 270px;
      .logos-pt1 {
        .cajon-aliados {
          .h5-aliados {
          }
          .p-aliados {
            font-size: 60px;
          }
        }
      }
      .logos-pt2 {
        .imagenes-aliados {
          height: 270px;
          .img-tena {
            left: 1%;
            top: 10%;
          }
          .img-logo-univ {
            left: 1%;
            top: 20%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .encabezado-pt1 {
    height: max-content !important;
    .contenedor-encabezado {
      height: max-content;
    }
  }
  .servicios-integrales {
    .rectangulo {
      max-width: 500px;
      height: 160px;
      width: 500px;
      position: relative;
      margin-top: -64px;
      .rectangulo-2 {
        .h2-integral {
          font-size: 27px;
        }
        .p-integral {
          font-size: 25px;
        }
      }
      .rectangulo-3 {
        .vineta-left2 {
          padding-left: 0px;
        }
      }
    }
  }
  .servicios-residenciales {
    .residenciales-pt1 {
      display: none;
    }
    .residenciales-pt2 {
      .residenciales-pt2__2 {
        .servicios-residencia {
          width: 55%;
          padding-top: 0%;
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  .seccion-blanca {
    display: none;
  }
  .servicios-adicionales {
    .adicionales-pt1 {
      .adicionales-pt1__2 {
        top: 3.5%;
        left: 14%;
        .servicios-residencia {
          .caja-centro {
            top: 10%;
            width: 59%;
            right: 60%;
          }
        }
        .caja-verde-claro {
          width: 37%;
          height: 118%;
          position: relative;
          right: 6%;
        }
      }

      .adicionales-pt1__3 {
        bottom: 37%;
        right: -0.8%;
        width: 81%;
      }
    }
    .adicionales-pt2 {
      display: none;
    }
  }
  .container-diezaños {
    .seccion-diezaños {
      height: max-content;
      .diezañospt1 {
        right: -2%;
      }
      .diezañospt2 {
        .btn-diezaños {
          position: relative;
          left: 25%;
        }
      }
    }
  }
  .galeria-fotos {
    .columna-galeria {
      .galeria-1,
      .galeria-2 {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .galeria-1 {
        .gall-3,
        .gall-4 {
          width: 100%;
          height: auto;
        }
      }
      .galeria-2 {
        .gall-5 {
          padding: 35px;
          position: relative;
          right: 0%;
        }
      }
      .galeria-3 {
        width: 100%;
        display: flex;
        justify-content: center;
        .columna-galeria-3 {
          width: 100%;
          .galeria-3__1 {
            width: 50%;
          }
          .galeria-3__2 {
            width: 50%;
          }
        }
      }
    }
  }
  .contenedor-ver-todos {
    .btn-ver-todos {
      width: 50%;
    }
  }
  .aliados-logos {
    .contenedor-logos {
      .logos-pt1 {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .cajon-aliados {
          right: 0%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          .p-aliados {
            position: inherit;
          }
          .h5-aliados {
            position: inherit;
          }
        }
      }
      .logos-pt2 {
        height: max-content;
        display: flex;
        justify-content:center;
        .linea-vertical {
          display: none;
        }
        .imagenes-aliados {
          display: flex;
          width:90%;
          justify-content: center;
          
        }
      }
    }
  }
  .cajon-grupo-sura {
    .columna-grupo-sura {
      .cajon-vigilado {
        display:flex;
        justify-content:center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .servicios-integrales {
    .container-integral {
      .rectangulo {
        width:100%;
        height: 230px;
        .rectangulo-1 , .rectangulo-3 {
          width:20%;
        }
        .rectangulo-2 {
          width:60%;
          .servicios-integrales-info {
            .p-integral {
              font-size:16px;
            }
            .h2-integral {
              font-size:18px;
            }
          }
        }
      }
    }
  }
  .servicios-residenciales {
    .residenciales-pt2 {
      .residenciales-pt2__1 {
        justify-content: flex-start;
      }
      .residenciales-pt2__3 {
        bottom: 45%;
        .conocer-mas {
          .btn-residencial {
            width:70%;
          }
        }
      }
    }
  }
  .servicios-adicionales {
    .row {
      height: 600px;
    }
    .adicionales-pt1 {
      .adicionales-pt1__2 {
        .caja-verde-claro {
          height: 89%;
        }
      }
      .adicionales-pt1__3 {
        .conocer-mas-2 {
          .btn-adicionales {
            width:75%;
          }
        }
      }
    }
  }
  .contenedor-sqn-info {
    display:none;
  }
  .seccion-diezaños {
    .diezañospt2 {
      height:max-content;
    }
  }
  .aliados-logos {
    height:350px;
    .contenedor-logos {
      height:100%;
      .logos-pt1 {
        height:50%;
      }
      .logos-pt2 {
        height:50%;
        
        .imagenes-aliados {
          display: block;
          text-align: center;
        }
      }
    }
  }
  .cajon-grupo-sura {
    height:max-content;
    .columna-grupo-sura {
      .cajon-filial {
        display:flex;
        justify-content: center;
      }
    }
  }
}
